html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

/**
 * Stile base per i link
 */
a {
  color: $nero;
  text-decoration: none;

  @include on-event {
    color: $nero;
  }
}