/**
 * Testo normale
 */
@font-face {
  font-family: 'Cera';
  font-style: normal;
  font-display: swap;
  src: url('~assets/fonts/Cera-Pro-Light.otf') format('opentype');
}

/**
 * Menu
 */
@font-face {
  font-family: 'Cera Black';
  font-style: normal;
  font-display: swap;
  src: url('~assets/fonts/Cera-Pro-Black.otf') format('opentype');
}

/**
 * Menu
 */
@font-face {
  font-family: 'Cera Bold';
  font-style: normal;
  font-display: swap;
  src: url('~assets/fonts/Cera-Pro-Medium.otf') format('opentype');
}